annotated-types==0.6.0 ; python_version >= "3.8" and python_version < "4.0"
attrs==23.2.0 ; python_version >= "3.8" and python_version < "4.0"
automat==22.10.0 ; python_version >= "3.8" and python_version < "4.0"
bitarray==2.9.2 ; python_version >= "3.8" and python_version < "4.0"
certifi==2024.2.2 ; python_version >= "3.8" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.8" and python_version < "4.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_version < "4.0"
constantly==23.10.4 ; python_version >= "3.8" and python_version < "4.0"
cryptography==42.0.5 ; python_version >= "3.8" and python_version < "4.0"
cssselect==1.2.0 ; python_version >= "3.8" and python_version < "4.0"
filelock==3.13.1 ; python_version >= "3.8" and python_version < "4.0"
greenlet==3.0.3 ; python_version >= "3.8" and python_version < "4.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
hyperlink==21.0.0 ; python_version >= "3.8" and python_version < "4.0"
idna==3.6 ; python_version >= "3.8" and python_version < "4.0"
incremental==22.10.0 ; python_version >= "3.8" and python_version < "4.0"
itemadapter==0.8.0 ; python_version >= "3.8" and python_version < "4.0"
itemloaders==1.1.0 ; python_version >= "3.8" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.8" and python_version < "4.0"
lxml==5.1.0 ; python_version >= "3.8" and python_version < "4.0"
packaging==24.0 ; python_version >= "3.8" and python_version < "4.0"
parsel==1.9.0 ; python_version >= "3.8" and python_version < "4.0"
protego==0.3.0 ; python_version >= "3.8" and python_version < "4.0"
pyasn1-modules==0.3.0 ; python_version >= "3.8" and python_version < "4.0"
pyasn1==0.5.1 ; python_version >= "3.8" and python_version < "4.0"
pybloom-live==4.0.0 ; python_version >= "3.8" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.8" and python_version < "4.0" and platform_python_implementation != "PyPy"
pydantic-core==2.16.3 ; python_version >= "3.8" and python_version < "4.0"
pydantic-settings==2.2.1 ; python_version >= "3.8" and python_version < "4.0"
pydantic==2.6.4 ; python_version >= "3.8" and python_version < "4.0"
pydispatcher==2.0.7 ; python_version >= "3.8" and python_version < "4.0" and platform_python_implementation == "CPython"
pyopenssl==24.1.0 ; python_version >= "3.8" and python_version < "4.0"
pypydispatcher==2.1.2 ; python_version >= "3.8" and python_version < "4.0" and platform_python_implementation == "PyPy"
python-dotenv==1.0.1 ; python_version >= "3.8" and python_version < "4.0"
queuelib==1.6.2 ; python_version >= "3.8" and python_version < "4.0"
requests-file==2.0.0 ; python_version >= "3.8" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.8" and python_version < "4.0"
scrapy==2.11.1 ; python_version >= "3.8" and python_version < "4.0"
service-identity==24.1.0 ; python_version >= "3.8" and python_version < "4.0"
setuptools==69.2.0 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4.0"
sqlalchemy==2.0.29 ; python_version >= "3.8" and python_version < "4.0"
tldextract==5.1.2 ; python_version >= "3.8" and python_version < "4.0"
twisted-iocpsupport==1.0.4 ; python_version >= "3.8" and python_version < "4.0" and platform_system == "Windows"
twisted==24.3.0 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.10.0 ; python_version >= "3.8" and python_version < "4.0"
urllib3==2.2.1 ; python_version >= "3.8" and python_version < "4.0"
w3lib==2.1.2 ; python_version >= "3.8" and python_version < "4.0"
xxhash==3.4.1 ; python_version >= "3.8" and python_version < "4.0"
zope-interface==6.2 ; python_version >= "3.8" and python_version < "4.0"
